<div class="form-center">
  <form class="form-horizontal col-sm-4">
    <!-- Unidade -->
    <div class="">
      <label>Unidade:</label>
      <select class="form-control" id="unity" name="unity">
        <option selected disabled value="0">Selecione a opção</option>
        <option [ngValue]="op1">Senai Joinville - Sul</option>
        <option [ngValue]="op2">Senai Joinville - Norte</option>
        <option [ngValue]="op3">Sesi Joinville - Centro</option>
      </select>
    </div>
    <!-- Setor -->
    <div class="">
      <label>Setor:</label>
    </div>
    <div class="">
      <input type="text" class="form-control" placeholder="..">
    </div>
    <!-- Nome da area -->
    <div class="">
      <label>Nome da area:</label>
    </div>
    <div class="">
      <input type="text" class="form-control" placeholder="..">
    </div>
    <!-- Equipamentos -->
    <table>
      <tr>
        <td>Tipo do equipamento</td><td>Quantia</td>
      </tr>
      <tr>
        <td>
          <p>Extintor</p>
        </td>
        <td><input type="number" class="" placeholder=".."></td>
      </tr>
      <tr>
        <td>
          <p>Luz de emergencia</p>
        </td>
        <td><input type="number" class="form-control" placeholder=".."></td>
      </tr>
      <tr>
        <td>
          <p>Hidrante</p>
        </td>
          <td><input type="number" class="form-control" placeholder=".."></td>
      </tr>
    </table>

    <div>
      <br><button type="submit" class="btn sesi-visual">Salvar</button>
      <button class="btn sesi-visual" (click)="resetar()">Cancelar</button>
    </div>
  </form>
</div>

