<ul class="main-navigation xicaras">
  <li><a routerLink="/sesi">Home</a></li>
  <li><a>ASO</a>
    <ul>
      <li><a>Exames
        <i class="fas fa-caret-right"></i>
      </a>
        <ul>
            <li><a href="/nf">Cadastrar exame</a></li>
            <li><a href="/nf">Verificar exames</a></li>
            <li><a href="/nf">Agendamento de exames</a></li>
        </ul>
      </li>
      <li><a>Pacientes
            <i class="fas fa-caret-right"></i>
          </a>
        <ul>
          <li><a routerLink="/sesi/user">Cadastro de funcionario</a></li>
          <li><a href="/nf">Atestados pendentes</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li><a>Brigada de incendio</a>
    <ul>
      <li><a>Brigadistas
            <i class="fas fa-caret-right"></i>
          </a>
        <ul>
            <li><a routerLink="/sesi/user">Cadastro de brigadista</a></li>
            <li><a href="/nf">Areas de vistoria</a></li>
            <li><a href="/nf">Brigadistas por area</a></li>
        </ul>
      </li>
      <li><a>Unidades</a>
        <ul>
          <li><a routerLink="/sesi/add-unity">Cadastro de Unidade</a></li>
          <li><a routerLink="/sesi/add-area">Cadastro de Área</a></li>
        </ul>
      </li>
      <li><a>Equipamento</a>
        <ul>
          <li><a routerLink="/sesi/add-equip">Cadastro de Equipamento</a></li>
        </ul>
      </li>
      <li><a>Inspeção
            <i class="fas fa-caret-right"></i>
          </a>
        <ul>
          <li><a href="/nf">Realizar inspeção</a></li>
          <li><a href="/nf">Agendamento de inspeção</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li>
    <a href="/nf">Alguma função</a>
  </li>
  <li class="perfil"><a><b>Ana Souza</b></a>
    <ul>
      <li><a routerLink="/sesi/perfil">Meu Perfil</a></li>
      <li><a routerLink="/">Sair</a></li>
    </ul>
  </li>
</ul>