ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #0d7138;
 }
ul li {
    display: block;
    position: relative;
    float: left;
}

li ul { display: none; }

ul li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
}

ul li a:hover { background: #2c3e50; }
li:hover > ul {
    display: block;
    position: absolute;
}

li:hover li { float: none; }

li:hover a { background: #0d7138; }

li:hover li a:hover { background: #2c3e50; }

.main-navigation li ul li { border-top: 0; }
ul ul ul {
    left: 100%;
    top: 0;
}
ul:before,ul:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

ul:after { clear: both; }

.xicaras {
    z-index: 999!important;
    position: relative;
}

.perfil {
    position: absolute!important;
    float: right;
    right: 1%;
}
