
 <div class="row">
    <div class="input-field col offset-4 col-4">
      <h6>Informe seu e-mail para redefinirmos sua senha</h6>
        <div class="">
          <label for="nome" class="control-label">E-mail</label>
        </div>
        <div class="">
          <input type="text" class="form-control" placeholder="E-mail">
        </div>
        <div>
          <br><button type="submit" class="btn sesi-visual">Submit</button>
          <button class="btn sesi-visual" (click)="resetar()">Cancelar</button>
      </div>    
  </div>
</div>