
<div class="form-center">
  <form class="form-horizontal col-sm-4" (ngSubmit)="onSubmit()" >
    <!-- Nome -->
    <div class="">
      <label for="nome" class="control-label">Nome:</label>
    </div>
    <div class="">
      <input type="text" class="form-control" placeholder="Nome">
    </div>

    <!-- Email -->
    <div class="">
      <label for="nome" class="control-label">Email:</label>
    </div>
    <div class="">
      <input type="email" class="form-control" placeholder="email@email.com">
    </div>

    <!-- Senha -->
    <div class="">
      <label for="nome" class="control-label">Senha:</label>
      </div>
      <div class="">
      <input type="text" class="form-control" placeholder="Senha">
      </div>

      <!-- Unidade -->
    <div class="">
      <label for="nome" class="control-label">Unidade:</label>
    </div>
    <div class="">
      <input type="text" class="form-control" placeholder="Ex: SESI-Centro">
    </div>
    <!-- Brigadista -->
    <div class="">
      <label for="nome" class="control-label">É um brigadista?</label>
    </div>
    <div class="">
      <!-- Sim -->
      <label>
        <input name="group1" class="sesi-rd" type="radio"/>
        <span>Sim</span>
      </label>
      <!-- Não -->
      <label>
        <input name="group1" type="radio"/>
        <span>Não</span>
      </label>
    </div>

    <div>
      <br><button type="submit" class="btn sesi-visual">Submit</button>
      <button class="btn sesi-visual" (click)="resetar()">Cancelar</button>
    </div>
  </form>
</div>