<h4>Cadastro de equipamento</h4>
<div class="form-center">
  <form class="form-horizontal col-sm-4">
    <!-- Identificação -->
    <div class="">
      <label>Equipamento</label>
    </div>
    <div class="">
      <input type="text" class="form-control">
    </div>
    <!-- Data de vencimento -->
    <div class="">
      <label>Data de vencimento</label>
    </div>
    <div class="">
      <input type="date" class="form-control">
    </div>
    <!-- Periodo de inspeção -->
    <div class="">
      <label>Periodo de inspeção (em dias)</label>
    </div>
    <div class="">
      <input type="number" class="form-control">
    </div>


    <div>
      <br><button type="submit" class="btn sesi-visual">Salvar</button>
      <button class="btn sesi-visual" (click)="resetar()">Cancelar</button>
    </div>
  </form>
</div>

