<div class="form-center">
  <form class="form-horizontal col-sm-4">
    <!-- Unidade -->
    <div class="">
      <label>Unidade:</label>
      <select class="form-control" id="unidade" name="unidade">
         <option selected value="">Selecione</option>
         <option [ngValue]="">Sesi Guarulhos</option>
         <option [ngValue]="">Senai Sul</option>
         <option [ngValue]="">Sesi Joaçaba</option>
         <option [ngValue]="">Senai Forquilhinhas</option>
      </select>
    </div>
    
    <!-- Nome do responsavel pela area -->
    <label>Nome do Usuário:</label>
    <select class="form-control" id="unidade" name="unidade">
       <option selected value="">Selecione</option>
       <option [ngValue]="">Jair</option>
       <option [ngValue]="">Monica</option>
       <option [ngValue]="">Bianca</option>
       <option [ngValue]="">Micaela</option>
    </select>
    
    <div>
      <br><button type="submit" class="btn sesi-visual">Salvar</button>
      <button class="btn sesi-visual" (click)="resetar()">Cancelar</button>
    </div>
  </form>
</div>