
        <div style="text-align:center">
            <a>
                <img src="assets/Logo.png">
              </a>
        <div class="row">
          <div class="input-field col offset-4 col-4">
              <input placeholder="E-mail" [(ngModel)]="usuario.email" id="email" type="text" email="ngModel" class="validate">
            </div>
          </div>
        
          <div class="row">
          <div class="input-field col offset-4 col-4">
            <input placeholder="Senha" [(ngModel)]="usuario.senha" id="senha" type="password" senha="ngModel" class="validate">
          </div>
        </div>

        <button id="bt" class="btn sesi-visual waves-effect waves-light"
         type="submit" name="action"(click)="fazerLogin()">
          Login
        </button>
        <div>

        <div class="remember">
          <a id="isq" routerLink="/reset">Esqueci minha senha</a>
        </div>
     


      
      

   


     