
input[type="text"]{
    font-size: 16px;
    font-family: Arial, sans-serif;  
}
input[type="password"]{
    font-size: 16px;
    font-family: Arial, sans-serif;
} 
.input-field > label{
  font-size: 14px;
  font-family: Arial, sans-serif;
}
img{
    padding-top: 90px;
    padding-bottom: 60px;
}
#isq{
    font-size: 14px;
    font-family: Arial, sans-serif;
    margin-top: 20px;
    color: #0d7138; 
}
.remember {
    padding: 60px;
}





