/* You can add global styles to this file, and also import other style files */
.sesi-visual{
    background-color: #0d7138!important;
    font-family: Arial, sans-serif;
    font-size: 15px;
}
a:active{
    background-color: #0d7138!important;
}

